[Unit]
Description=RQ worker para transcripciones
After=network.target redis.service

[Service]
User=administrador
WorkingDirectory=/opt/transcriber
Environment="PYENV_ROOT=/home/administrador/.pyenv"
Environment="HF_TOKEN=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"
ExecStart=/home/administrador/.pyenv/versions/transcriptor/bin/rq worker transcriber
Restart=always

[Install]
WantedBy=multi-user.target
