[Unit]
Description=FastAPI Transcriber (Uvicorn)
After=network.target redis.service

[Service]
User=administrador
Group=administrador
WorkingDirectory=/opt/transcriber
# Para entornos virtuales:
Environment="PYENV_ROOT=/home/administrador/.pyenv"
Environment="HF_TOKEN=<HF_TOKEN>"
Environment="PATH=/home/administrador/.pyenv/versions/transcriptor/bin:%h/.pyenv/shims:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart=/home/administrador/.pyenv/versions/transcriptor/bin/uvicorn main:app --app-dir /opt/transcriber --host 0.0.0.0 --port 8001 --workers 1 --timeout-keep-alive 0
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
# Opcional: límites y open files
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
